@use './variables' as *;
@use './styles/button' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #121212;
    color: #e0e0e0;
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}

app-root {
    display: block;
    height: 100%;
}